.cart{
   position: sticky;
   top: 0;
   padding-top: 10px;
}
.cart h4{
   text-align: center;
   font-size: 26px;
   font-weight: 400;
}
.calculate{
   padding: 0 0 0 15px;
}
.calculate p{
   font-weight: 500;
   font-size: 17px;
}
.calculate h2{
   font-weight: 500;
}